header {
    position: fixed;
	top: 0;
	width: 100%;
	}
#menu_top {
	width: 100%;
	}
#button_logo {
	text-align: left;
	width: calc (100%/2);
	}
#button_download {
	text-align: right;
	width: calc (100%/2);
	}
main {
	padding-top: 100px;
	padding-bottom: 100px;
	text-align: justify;
	}
footer {
    position: fixed;
	bottom: 0;
	width: 100%;
	text-align: justify;
	}
#menu_bottom {
	width: 100%;
	}
#button_versions {
	text-align: center;
	width: 33%;
	}
#button_lore {
	text-align: center;
	width: 33%;
}
#button_documentation {
	text-align: center;
	width: 33%;
}
