#menu_top {
    position: fixed;
	top: 0;
	}
#header_right {
	width: calc (100%/2);
	left: calc ((100%/2)-(2*(100%/2)));
    align-items: right;
	}
#header_left {
	width: calc (100%/2);
	left: calc ((100%/2)-(1*(100%/2)));
    align-items: left;
	}
main {
	padding-top: 100px;
	padding-bottom: 100px;
	}
#menu_bottom {
    position: fixed;
	bottom: 0;
    align-items: center;
	}
#footer_left {
	width: calc (100%/3);
	left: calc ((100%/3)-(3*(100%/3)));
	}
#footer_center {
	width: calc (100%/3);
	left: calc ((100%/3)-(3*(100%/3)));
	}
#footer_right {
	width: calc (100%/3);
	left: calc ((100%/3)-(1*(100%/3)));
	}
